header#gs-header {
  height: 60px;
  background: #023558;
  font-family: arial, helvetica, 'sans serif';
}

header#gs-header .row {
  max-width: 100%;
}

header#gs-header h2 {
  margin: 0px;
  max-width: 140px;
  font: 16px/45px arial;
}

header#gs-header h2 a img {
  max-width: 100%;
  min-width: 106px;
  border: none;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

header#gs-header .gs-container-panes {
  display: none;
}

header#gs-header nav.gs-mobile {
  display: none;
}

header#gs-header nav.gs-generic ul {
  margin: 0px;
  padding: 0px;
  float: right;
}

header#gs-header nav.gs-generic ul li {
  list-style-type: none;
  display: inline-block;
  height: 60px;
  position: relative;
}

header#gs-header nav.gs-generic ul li a {
  color: #bfc9cf;
  margin: 0 12px;
  padding: 5px 0 0 0;
  font: 16px/50px arial;
  text-decoration: none;
  display: block;
}

header#gs-header nav.gs-generic ul li a:hover {
  border-bottom: solid 5px #416882;
  color: #ffffff;
  cursor:pointer;
}

header#gs-header nav.gs-generic ul li a.gs-active-item {
  border-bottom: solid 5px #416882;
  color: #ffffff;
}

header#gs-header nav.gs-generic ul li a .gs-notification {
  height: 25px;
  min-width: 25px;
  display: inline-block;
  text-align: center;
  font: 13px/25px arial;
  background: #ff6600;
  padding: 0 5px;
  border-radius: 25px;
  color: #ffffff;
}

header#gs-header nav.gs-generic ul li a span.gs-copy-short {
  display: none;
}

header#gs-header nav.gs-generic ul li a#cbhlSignIn {
  font: 12px/47px arial;
}

header#gs-header nav.gs-generic ul li a#cbhlFirstName {
  font: 12px/47px arial;
}

header#gs-header nav.gs-generic ul li:last-child {
  background: #146954;
  padding: 0 0px 0 0;
}

header#gs-header nav.gs-generic ul li:last-child a {
  color: #cbedd3;
}

header#gs-header nav.gs-generic ul li:last-child a:hover {
  color: #ffffff;
  border-bottom: solid 5px #146954;
}

header#gs-header nav.gs-generic ul li:last-child:hover {
  background: #229051;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 100;
  margin: 0px;
  padding: 1px;
  background: #eeeeee;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dt {
  height: auto;
  padding: 13px 35px 13px 25px;
  margin: 0px;
  border-radius: 4px 4px 0 0;
  background: #eee;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dd, header#gs-header nav.gs-generic ul li .gs-sub-menu li {
  display: block;
  background: #fff;
  height: auto;
  margin: 0 0 2px 0;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dd a, header#gs-header nav.gs-generic ul li .gs-sub-menu li a {
  color: #023558;
  padding: 13px 35px 13px 20px;
  font: 14px/18px arial;
  display: block;
  white-space: nowrap;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dd:last-child, header#gs-header nav.gs-generic ul li .gs-sub-menu li:last-child {
  border-bottom: none;
  background: #fff;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dd:hover, header#gs-header nav.gs-generic ul li .gs-sub-menu li:hover {
  background: #023558;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu dd:hover a, header#gs-header nav.gs-generic ul li .gs-sub-menu li:hover a {
  border: none;
  color: #ffffff;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu#gs-notify-submenu {
  width: 375px;
}

header#gs-header nav.gs-generic ul li .gs-sub-menu#gs-notify-submenu a {
  white-space: inherit;
}

@media (max-width: 1199px) {

  header#gs-header nav.gs-generic ul li a {
    margin: 0 8px;
    padding: 5px 0 0 0;
    font: 14px/50px arial;
  }

  header#gs-header nav.gs-generic ul li a .notification {
    font: 14px/25px arial;
  }
  
  header#gs-header nav.gs-generic ul li a span.gs-copy-long {
    display: none;
  }
  
  header#gs-header nav.gs-generic ul li a span.gs-copy-short {
    display: block;
  }
}
@media (max-width: 991px) {
  
  header#gs-header {
    height: 50px;
  }
  
  header#gs-header h2 {
    font: 16px/35px arial;
  }
  
  header#gs-header nav.gs-generic ul li {
    height: 50px;
  }
  
  header#gs-header nav.gs-generic ul li a {
    padding: 5px 0 0;
    margin: 0 5px;
    font: 12px/40px arial;
  }
  
  header#gs-header nav.gs-generic ul li a:hover {
    border-bottom: solid 5px #416882;
  }
  
  header#gs-header nav.gs-generic ul li a .gs-notification {
    font: 12px/25px arial;
  }
  
  header#gs-header nav.gs-generic ul li a span.gs-copy-long {
    display: none;
  }
  
  header#gs-header nav.gs-generic ul li a span.gs-copy-short {
    display: block;
  }
  
  header#gs-header nav.gs-generic ul li a#cbhlSignIn {
    font: 12px/40px arial;
  }

  header#gs-header nav.gs-generic ul li a#cbhlFirstName {
    font: 12px/40px arial;
  }
  
  header#gs-header nav.gs-generic ul li .gs-sub-menu {
    top: 45px;
  }
}
@media (max-width: 767px) {
  
  header#gs-header {
    height: 50px;
  }
  
  header#gs-header .row {
    max-width: 100%;
  }
  
  header#gs-header .row .gs-margin-override {
    padding-right: 0.9375rem;
  }
  
  header#gs-header h2 {
    margin: 0px;
    font: 16px/35px arial;
  }
  
  header#gs-header h2 a img {
    width: 106px;
  }
  
  header#gs-header nav.gs-generic {
    display: none;
  }
  
  header#gs-header nav.gs-mobile {
    display: block;
  }
  
  header#gs-header nav.gs-mobile ul {
    margin: 0px;
    padding: 0px;
    float: right;
  }
  
  header#gs-header nav.gs-mobile ul li {
    list-style-type: none;
    display: inline-block;
    height: 50px;
    position: relative;
  }
  
  header#gs-header nav.gs-mobile ul li a {
    color: #bfc9cf;
    margin: 0 7px;
    font: 16px/50px arial;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
  }
  
  header#gs-header nav.gs-mobile ul li a .gs-notification {
    height: 25px;
    min-width: 25px;
    display: inline-block;
    text-align: center;
    font: 14px/25px arial;
    background: #ff6600;
    padding: 0 5px;
    border-radius: 25px;
  }
  
  header#gs-header .gs-container-panes {
    display: block;
    position: relative;
  }
  
  header#gs-header .gs-container-panes ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  header#gs-header .gs-container-panes ul li {
    padding: 5px 15px;
  }
  
  header#gs-header .gs-container-panes ul li a {
    text-decoration: none;
    display: block;
    font: 14px/20px arial;
    color: white;
  }
  
  header#gs-header .gs-container-panes .gs-pane-search {
    display: none;
    background: #d4d4d4;
    padding: 20px;
    border: solid 1px #bbb;
    height: 180px;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification {
    display: none;
    margin: 0px;
    padding: 0px;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu {
    display: none;
    width: 96%;
    margin: 0 2%;
    padding: 1px;
    box-shadow: 0px 2px 10px #ccc;
    position: absolute;
    border-radius: 4px 4px 4px 4px;
    background: #eeeeee;
    top: -10px;
    z-index: 100;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dt {
    height: auto;
    padding: 13px 35px 13px 20px;
    margin: 0px;
    background: #eee;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dd {
    margin: 0px;
    display: block;
    background: #fff;
    height: auto;
    padding: 13px 35px 13px 20px;
    margin: 0 0 2px 0;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dd a {
    color: #023558;
    font: 14px/18px arial;
    display: block;
    white-space: normal;
    text-decoration: none;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dd:last-child {
    border-bottom: none;
    background: #fff;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dd:hover {
    background: #023558;
  }
  
  header#gs-header .gs-container-panes .gs-pane-notification#gs-notification-submenu dd:hover a {
    border: none;
    color: #ffffff;
  }
  
  header#gs-header .gs-container-panes .gs-pane-menu {
    display: none;
    background: #02304f;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  
  header#gs-header .gs-container-panes .gs-pane-menu li {
    padding: 10px 20px;
    font: 14px arial;
    border-top: solid 1px #1c4561;
  }
  
  header#gs-header .gs-container-panes .gs-pane-menu li .fa {
    color: #4e6f84;
  }
  
  header#gs-header .gs-container-panes .gs-pane-menu li span {
    margin-right: 10px;
  }
}

.gs-btn-default {
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font: bold 12px/14px arial;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.gs-alert {
  font: 15px/17px arial;
  border: solid 1px #e4e4e4;
  max-width: 100%;
  padding: 5px 15px;
  background: #d4d4d4;
  color: #023558;
}
.gs-alert .gs-alert-message {
  padding: 10px 0;
}
.gs-alert .gs-alert-message .gs-bold {
  display: table-cell;
  width: 10px;
  padding-right: 10px;
}
.gs-alert .gs-alert-message p {
  margin: 0px;
  display: table-cell;
}
.gs-alert .gs-alert-message a {
  color: #127ab3;
  text-decoration: none;
}
.gs-alert .gs-alert-dismiss {
  padding: 10px 0;
}
.gs-alert .gs-alert-dismiss button {
  color: #127ab3;
  background: none;
  padding: 3px;
  float: right;
}


#gs-skip-to-content {
  font-size: 0px;
  padding: 0px;
  display: block;
}

.gs-margin-override {
  padding-right: 0px;
  float: right;
}

.gs-hide-desktop {
  display: none !important;
}

/* SEARCH BOX HACK - START */
.hide-search, .show-search {
  display:block;
}

@media (max-width: 767px)
{
    .search-bar, .hide-search {
      display:none;
    }

    .show-search {
      display:block;
    }
}

/* FOOTER */
.gs-footer-mobile {
  display: none;
}

.gs-footer-content {
  font-family: arial, helvetica, 'sans serif';
}

.gs-footer-center {
  width: 960px;
  margin: 0 auto;
  padding-left: 100px;
  padding-bottom: 30px;
}

.gs-footer-center:after {
  content: "";
  display: table;
  clear: both;
}

.gs-footer-center.gs-footer-langage-picker-enable {
  padding-left: 0;
}

.gs-footer-center.gs-footer-langage-picker-enable > .gs-footer-langage-picker {
  display: block !important;
}

.gs-footer {
  width: 100%;
}

.gs-footer-helpbar {
  height: 55px;
  line-height: 65px;
  background-color: #1B7CB2;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.gs-footer-helpbar > a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.gs-footer-helpbar > a:hover {
  text-decoration: underline;
}

.gs-footer-links {
  border-top: 5px solid #1B7CB2;
  background-color: #023558;
  color: #fff;
}

.gs-footer-links-bloc {
  float: left;
  width: 192px;
  padding-top: 30px;
}

.gs-footer-langage-picker {
  display: none;
}

.gs-footer-langage-picker > ul > li > ul {
  list-style-type: none;
  margin: 8px 0 0 0;
  background: #eee;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0px 2px 10px #09263b;
  display: none;
}

.gs-footer-langage-picker > ul > li > ul > li {
  background: #fff;
  height: auto;
  margin: 0 0 2px 0;
}

.gs-footer-langage-picker > ul > li > ul > li:hover {
  background: #023558;
}

.gs-footer-langage-picker > ul > li > ul > li:hover a {
  color: #fff;
}

.gs-footer-langage-picker > ul > li > ul > li > a {
  font-size: 14px;
  padding: 13px 35px 13px 20px;
  display: block;
  color: #023558;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.gs-footer-links-bloc > ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
  text-align:left;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-align {
  margin-bottom: 30px;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-align:after {
  content: "";
  display: table;
  clear: both;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-align > li {
  float: left;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-align > li > a {
  font-size: 25px;
  margin-right: 15px;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-align > li:first-child {
  float: none;
  display: block;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-nolink {
  margin-bottom: 0;
  margin-top: 30px;
}

.gs-footer-links-bloc > ul.gs-footer-links-ul-nolink > li {
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
  color: #9db9cb;
}

.gs-footer-links-bloc > ul > li {
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 8px;
}

.gs-footer-links-bloc > ul > li > a {
  text-transform: none;
  color: #9db9cb;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  cursor:pointer;
}

.gs-footer-links-bloc > ul > li > a:hover {
  color: #ffffff;
}

.gs-footer-partner {
  padding-top: 30px;
}

.gs-footer-partner a {
  background: url("http://img.icbdr.com/images/UniversalHeaderFooter/logo-ad-choices.png") right 0 no-repeat;
  padding-right: 20px;
  background-size: contain;
}

.gs-footer-links-bloc:last-child {
  margin-right: 0;
}

.gs-footer-mobile-menu-user, .gs-footer-mobile-apps, .gs-footer-mobile-links {
  display: none;
}

.gs-footer-legal {
  height: 30px;
  line-height: 35px;
  text-align: center;
  color: #6C899E;
  font-weight: bold;
  background-color: #022C47;
  font-family: Helvetica, Arial, sans-serif;
  font-size:16px;
}

/* MOBILE */
@media only screen and (max-width: 980px) {
  /* FOOTER */
  .gs-footer-helpbar, .gs-footer-links, .gs-footer-center {
    width: 100%;
  }

  .gs-footer-social{
      display:none;
  }

  .gs-footer-links-bloc > ul {
    text-align:center;
  }

  .gs-footer-center {
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
  }

  .gs-footer-links-bloc, .gs-footer-helpbar {
    display: none !important;
  }

  .gs-footer-mobile-menu-user, .gs-footer-mobile-apps, .gs-footer-mobile-links {
    display: block;
  }

  .gs-footer-mobile-menu-user > a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }

  .gs-footer-mobile-menu-user > a:first-child {
    margin-left: 0;
  }

  .gs-footer-mobile-apps, .gs-footer-mobile-links {
    padding-top: 40px;
  }

  .gs-footer-langage-picker {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  .gs-footer-langage-picker > ul > li:first-child {
    display: none;
  }

  .gs-footer-langage-picker a {
    color: #7F9AAE;
    text-decoration: none;
    font-size: 19px !important;
    font-weight: normal;
  }

  .gs-footer-mobile-apps {
    padding-top: 80px;
  }

  .gs-footer-mobile-apps > a {
    display: inline-block;
    vertical-align: top;
  }

  .gs-footer-mobile-apps > a:first-child {
    margin-right: 30px;
  }

  .gs-footer-mobile-links > a {
    color: #7F9AAE;
    text-decoration: none;
    font-size: 19px;
    margin-right: 30px;
    white-space: nowrap;
  }

  .gs-footer-mobile-links > a:last-child {
    margin-right: 0;
  }

  .gs-footer-legal {
    font-size: 13px;
  }

  #gs-language-picker-submenu {
    background: #457597;
    margin: 10px 25% 0 25%;
  }

  #gs-language-picker-submenu li {
    background: none;
  }

  #gs-language-picker-submenu li:hover {
    background: none;
  }

  .gs-footer-mobile-links a:hover {
    color: #fff;
  }
}
