#mc-embedded-subscribe {
	margin-top: 10px;
}

[class*="block-grid-"] {
	width: 52%;
	float: left;
	min-height: 345px !important;
}

.list-block .label-block li a .body {
	text-align: justify;
}

.label-block li a {
	border-bottom: 0 !important;
}

.label-block li a img {
	height: 150px;
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

.list-block h4.align {
	padding-left: 1rem;
}

#old-job-list {
	list-style: none;
}

#old-job-list li {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

#old-job-list li:nth-child(even) {
	margin-right: 0;
}

.social {
	float: right;
	margin-top: -50px;
}

.social a:last-child {
	margin-right: 0 !important;
}

@media only screen and (max-width: 1024px) {
	[class*="block-grid-"], #old-job-list li {
		width: 100%;
		float: none;
		height: auto !important;
		min-height: auto !important;
	}
}