@import "compass"

body
  font-family: 'Lato', sans-sherif
  background: #F3FAFF

.content
  width: 1000px
  margin: 0 auto
  position: relative

.fl-l
  float: left

.fl-r
  float: right

.on-left
  position: absolute
  top: 0
  left: 15px

.on-right
  position: absolute
  top: 0
  right: 15px

.cb_style select
  border: 1px solid #B4B4B4 !important
  color: #333 !important
  font-size: 11px !important
  height: 30px !important
  border-radius: 5px !important
  margin-bottom: 0 !important

.bubbles
  padding-top: 15px
  +clearfix

.bubble
  padding: 5px 10px
  background: #09A0DB
  color: white
  float: left
  display: block
  margin-right: 1px
  margin-top: 1px
  text-align: center
  span
    display: block
  .bubble-title
    display: block
    font-variant: small-caps
    font-size: 0.8rem
    line-height: 1
    margin-bottom: 5px
    span
      display: inline-block
      vertical-align: top
  &.mini-bubble
    .bubble-title
      display: inline-block
      vertical-align: top
      span
        display: none

.bubble-white
  @extend .bubble
  background: #EFEFEF
  color: #333

#content
  width: 1000px
  margin: 0 auto
  position: relative

#jobs-list-header
  background: #FFF
  height: 60px
  text-align: center
  position: relative
  border-bottom: 1px solid #ccc
  .on-right 
    right: 0
  .on-left
    left: 0
  h2
    margin: 0 !important
    line-height: 60px !important
  select
    width: 120px
    margin-top: 15px

#jobs-list-sous-menu
  +clearfix
  height: 45px
  padding: 10px 0
  border-bottom: 1px solid #CCC
  margin-bottom: 20px
  a
    display: block
    float: left
    margin-right: 15px
  a.tt
    font-size: 1.3rem
    color: #333
    margin-top: -4px
  .btn
    color: white !important

.btn
  background: #DF691E
  color: #FFF
  font-size: 14px
  height: 25px
  line-height: 25px
  font-weight: bold
  border-radius: 3px
  padding: 0 15px
  display: inline-block
  vertical-align: bottom
  text-shadow: 1px 1px 0px #ac4f14
  text-decoration: none

.pagination
  height: 45px
  line-height: 45px
  text-align: center
  a, span
    display: inline-block
    vertical-align: bottom
    margin-right: 5px
    padding: 0 15px
    background: #FFF
    color: #333
    font-size: 1.2rem
    cursor: pointer
    i.fa
      font-size: 2.2rem
      position: relative
      top: 5px
    &.current
      background: #023558
      color: white
    &:hover
      background: #09A0DB

.legend-content
  font-size: 0.7rem
  line-height: 40px
  .legend
    display: inline-block
    vertical-align: bottom
    margin-right: 10px

#jobs-list-container
  position: relative
  overflow: hidden
  margin-bottom: 10px
  padding: 1px

#jobs-list-push
  +translateX(-30%)
  +transition-duration(0.3s)
  &.active
    +translateX(0)
    #jobs-list-filter
      opacity: 1

#jobs-list-content
  +transition-duration(0.3s)
  width: 100%
  margin-left: 30%
  &.active
    margin-left: 101%

.job-list
  display: block
  color: #333
  +transition-duration(0.3s)
  background: #FFF
  border: 1px solid #ccc
  border-left-width: 6px
  margin-bottom: 10px
  position: relative
  padding: 20px
  a
    color: #333
    display: block
  h3
    margin: 0 !important
    font-size: 1.2rem
    line-height: 1 !important
    padding-bottom: 15px
    color: #09A0DB
  .candidatesname, .city
    display: inline-block
    vertical-align: bottom
  .city
    color: #666
    margin-left: 10px
  .date
    font-size: 0.8rem
    color: #333
    margin-top: 3px
    display: none
  .candidatesname
    font-weight: bold
  &:hover
    color: #333
    border-color: #09A0DB
    .job-list-menu
      opacity: 1 !important
  .job-list-info-container
    +clearfix
    padding-top: 10px
    margin-left: -6px
    .job-list-info-content
      padding-bottom: 5px
      i.fa, .job-list-info
        display: inline-block
        vertical-align: top
      i.fa
        margin-top: 5px
        width: 25px
        text-align: center
        font-size: 0.9rem
      .job-list-info
        span
          display: block
    .bloc
      &.small
        width: 25%
      width: 37.5%
      float: left
  &.details
    .bubble
      font-size: 1.2rem
      &.mini-bubble
        .bubble-title
          display: block
          margin-bottom: 3px
          span
            display: inline-block
            vertical-align: top
          
  .job-list-menu
    +clearfix
    font-size: 0.7rem
    text-align: right
    margin-top: 20px
    opacity: 0
    a
      color: #09a0db
      display: inline-block
      vertical-align: bottom
      margin-right: 10px
      &:last-child
        margin-right: 0
      &:hover
        color: #39b3e1

#jobs-list-filter
  position: absolute
  top: 0
  left: 0
  padding: 12px
  width: 100%
  margin-right: 3%
  background: #FFF
  box-sizing: border-box
  opacity: 0
  border: 1px solid #ccc
  border-left-width: 6px
  +transition-duration(0.3s)
  .filter
    display: inline-block
    vertical-align: top
    width: 47%
    &:nth-child(even)
      margin-right: 5%
    &.dn
      .filter-content
        display: none
    padding: 10px 0
    +clearfix
    &:first-child
      padding-top: 0
  .filter-content
    margin-top: 8px
  .filter-title
    cursor: pointer
    .filter-button
      margin-top: 8px
      font-size: 0.8rem
  span.float
    display: inline-block
    vertical-align: middle
  select
    background-color: #FFF !important
    margin-bottom: 0 !important
    margin-top: 0 !important
    +box-shadow(inset 0 1px 2px rgba(0,0,0,0.1))
    margin-bottom: 5px
    &:not(.lastact)
      background-image: none
  input[type="text"]
    &.float
      display: inline-block
      width: 70px
      height: 37px
      vertical-align: middle
      margin: 0
      margin-bottom: 5px
  input[type="button"]
    border: none
    cursor: pointer
  input[type="checkbox"], input[type="radio"]
    display: inline-block
    vertical-align: top
    margin: 0
    margin-top: 2px
    margin-left: 1px
    & + label
      display: inline-block
      vertical-align: top
      margin: 0
      width: 90%
      font-size: 0.7rem

