body {
  font-family: "Lato", sans-sherif;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.on-left {
  position: absolute;
  top: 0;
  left: 15px;
}

.on-right {
  position: absolute;
  top: 0;
  right: 15px;
}

.cb_style select {
  border: 1px solid #B4B4B4 !important;
  color: #333 !important;
  font-size: 11px !important;
  height: 30px !important;
  border-radius: 5px !important;
  margin-bottom: 0 !important;
}

.bubbles {
  padding-top: 15px;
  overflow: hidden;
  *zoom: 1;
}

.bubble, .bubble-white {
  padding: 5px 10px;
  background: #182642;
  color: white;
  float: left;
  display: block;
  margin-right: 1px;
  margin-top: 1px;
  text-align: center;
}
.bubble .bubble-title, .bubble-white .bubble-title {
  display: block;
  font-variant: small-caps;
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 5px;
}
.bubble .bubble-title span, .bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title, .mini-bubble.bubble-white .bubble-title {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title span, .mini-bubble.bubble-white .bubble-title span {
  display: none;
}

.bubble-white {
  background: #F9F9F9;
  color: #333;
  font-size: 1.1rem !important;
}

#content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#jobs-list-header {
  background: #F9F9F9;
  height: 60px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#jobs-list-header h2 {
  margin: 0 !important;
  line-height: 60px !important;
}
#jobs-list-header a {
  float: left;
  display: block;
  height: 60px;
  line-height: 65px;
  margin-right: 15px;
  font-size: 1.3rem;
  color: #333;
}
#jobs-list-header select {
  width: 120px;
  margin-top: 15px;
}

#jobs-list-sous-menu {
  overflow: hidden;
  *zoom: 1;
  height: 45px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}
#jobs-list-sous-menu .btn {
  background: #DF691E;
  color: #FFF;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: bottom;
  text-shadow: 1px 1px 0px #ac4f14;
  text-decoration: none;
}

.pagination {
  height: 25px;
  line-height: 25px;
}
.pagination a, .pagination span {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  padding: 0 4px;
  background: #F9F9F9;
  color: #333;
  font-size: 0.9rem;
  cursor: pointer;
}
.pagination a.current, .pagination span.current {
  background: #023558;
  color: white;
}
.pagination a:hover, .pagination span:hover {
  text-decoration: underline;
}

#jobs-list-container {
  position: relative;
  overflow: hidden;
}

#jobs-list-push {
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jobs-list-push.active {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#jobs-list-push.active #jobs-list-filter {
  opacity: 1;
}

#jobs-list-filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  width: 27%;
  margin-right: 3%;
  background: #F9F9F9;
  box-sizing: border-box;
  opacity: 0;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#jobs-list-content {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  margin-left: 30%;
}
#jobs-list-content.active {
  width: 70%;
}
#jobs-list-content.active .job-list h3 {
  font-size: 20px;
}

.job-list {
  display: block;
  border-bottom: 1px solid #ccc;
  color: #333;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: white;
  position: relative;
  padding: 15px 0;
}
.job-list:first-child {
  padding-top: 0;
}
.job-list a {
  color: #333;
  display: block;
}
.job-list h3 {
  margin: 0 !important;
  line-height: 28px !important;
  font-size: 1.2rem;
}
.job-list .candidatesname, .job-list .city {
  display: inline-block;
  vertical-align: bottom;
}
.job-list .city {
  color: #666;
  margin-left: 10px;
}
.job-list .date {
  font-size: 0.8rem;
  color: #333;
  margin-top: 3px;
  display: none;
}
.job-list .candidatesname {
  font-weight: bold;
}
.job-list:hover {
  color: #333;
}
.job-list:hover .job-list-menu {
  opacity: 1 !important;
}
.job-list.details .bubble, .job-list.details .bubble-white {
  font-size: 1.2rem;
}
.job-list.details .bubble.mini-bubble .bubble-title, .job-list.details .mini-bubble.bubble-white .bubble-title {
  display: block;
  margin-bottom: 3px;
}
.job-list.details .bubble.mini-bubble .bubble-title span, .job-list.details .mini-bubble.bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.job-list .job-list-menu {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.7rem;
  text-align: right;
  margin-top: 20px;
  opacity: 0;
}
.job-list .job-list-menu a {
  color: #09a0db;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.job-list .job-list-menu a:last-child {
  margin-right: 0;
}
.job-list .job-list-menu a:hover {
  color: #39b3e1;
}

#jobs-list-filter .filter {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
#jobs-list-filter .filter:first-child {
  padding-top: 0;
}
#jobs-list-filter .filter-title {
  cursor: pointer;
}
#jobs-list-filter .filter-title .filter-button {
  margin-top: 6px;
}
#jobs-list-filter select {
  background-color: #FFF !important;
  margin-bottom: 0 !important;
  margin-top: 8px !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#jobs-list-filter input[type="checkbox"], #jobs-list-filter input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: -2px;
}
#jobs-list-filter input[type="checkbox"] + label, #jobs-list-filter input[type="radio"] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 2px;
  font-size: 0.8rem;
}
