body {
  font-family: "Lato", sans-sherif;
  background: #F3FAFF;
}

.content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.on-left {
  position: absolute;
  top: 0;
  left: 15px;
}

.on-right {
  position: absolute;
  top: 0;
  right: 15px;
}

.cb_style select {
  border: 1px solid #B4B4B4 !important;
  color: #333 !important;
  font-size: 11px !important;
  height: 30px !important;
  border-radius: 5px !important;
  margin-bottom: 0 !important;
}

.bubbles {
  padding-top: 15px;
  overflow: hidden;
  *zoom: 1;
}

.bubble, .bubble-white {
  padding: 5px 10px;
  background: #09A0DB;
  color: white;
  float: left;
  display: block;
  margin-right: 1px;
  margin-top: 1px;
  text-align: center;
}
.bubble span, .bubble-white span {
  display: block;
}
.bubble .bubble-title, .bubble-white .bubble-title {
  display: block;
  font-variant: small-caps;
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 5px;
}
.bubble .bubble-title span, .bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title, .mini-bubble.bubble-white .bubble-title {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title span, .mini-bubble.bubble-white .bubble-title span {
  display: none;
}

.bubble-white {
  background: #EFEFEF;
  color: #333;
}

#content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#jobs-list-header {
  background: #FFF;
  height: 60px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#jobs-list-header .on-right {
  right: 0;
}
#jobs-list-header .on-left {
  left: 0;
}
#jobs-list-header h2 {
  margin: 0 !important;
  line-height: 60px !important;
}
#jobs-list-header select {
  width: 120px;
  margin-top: 15px;
}

#jobs-list-sous-menu {
  overflow: hidden;
  *zoom: 1;
  height: 45px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}
#jobs-list-sous-menu a {
  display: block;
  float: left;
  margin-right: 15px;
}
#jobs-list-sous-menu a.tt {
  font-size: 1.3rem;
  color: #333;
  margin-top: -4px;
}
#jobs-list-sous-menu .btn {
  color: white !important;
}

.btn {
  background: #DF691E;
  color: #FFF;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: bottom;
  text-shadow: 1px 1px 0px #ac4f14;
  text-decoration: none;
}

.pagination {
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.pagination a, .pagination span {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  padding: 0 15px;
  background: #FFF;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}
.pagination a i.fa, .pagination span i.fa {
  font-size: 2.2rem;
  position: relative;
  top: 5px;
}
.pagination a.current, .pagination span.current {
  background: #023558;
  color: white;
}
.pagination a:hover, .pagination span:hover {
  background: #09A0DB;
}

.legend-content {
  font-size: 0.7rem;
  line-height: 40px;
}
.legend-content .legend {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}

#jobs-list-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 1px;
}

#jobs-list-push {
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jobs-list-push.active {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#jobs-list-push.active #jobs-list-filter {
  opacity: 1;
}

#jobs-list-content {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  margin-left: 30%;
}
#jobs-list-content.active {
  margin-left: 101%;
}

.job-list {
  display: block;
  color: #333;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #FFF;
  border: 1px solid #ccc;
  border-left-width: 6px;
  margin-bottom: 10px;
  position: relative;
  padding: 20px;
}
.job-list a {
  color: #333;
  display: block;
}
.job-list h3 {
  margin: 0 !important;
  font-size: 1.2rem;
  line-height: 1 !important;
  padding-bottom: 15px;
  color: #09A0DB;
}
.job-list .candidatesname, .job-list .city {
  display: inline-block;
  vertical-align: bottom;
}
.job-list .city {
  color: #666;
  margin-left: 10px;
}
.job-list .date {
  font-size: 0.8rem;
  color: #333;
  margin-top: 3px;
  display: none;
}
.job-list .candidatesname {
  font-weight: bold;
}
.job-list:hover {
  color: #333;
  border-color: #09A0DB;
}
.job-list:hover .job-list-menu {
  opacity: 1 !important;
}
.job-list .job-list-info-container {
  overflow: hidden;
  *zoom: 1;
  padding-top: 10px;
  margin-left: -6px;
}
.job-list .job-list-info-container .job-list-info-content {
  padding-bottom: 5px;
}
.job-list .job-list-info-container .job-list-info-content i.fa, .job-list .job-list-info-container .job-list-info-content .job-list-info {
  display: inline-block;
  vertical-align: top;
}
.job-list .job-list-info-container .job-list-info-content i.fa {
  margin-top: 5px;
  width: 25px;
  text-align: center;
  font-size: 0.9rem;
}
.job-list .job-list-info-container .job-list-info-content .job-list-info span {
  display: block;
}
.job-list .job-list-info-container .bloc {
  width: 37.5%;
  float: left;
}
.job-list .job-list-info-container .bloc.small {
  width: 25%;
}
.job-list.details .bubble, .job-list.details .bubble-white {
  font-size: 1.2rem;
}
.job-list.details .bubble.mini-bubble .bubble-title, .job-list.details .mini-bubble.bubble-white .bubble-title {
  display: block;
  margin-bottom: 3px;
}
.job-list.details .bubble.mini-bubble .bubble-title span, .job-list.details .mini-bubble.bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.job-list .job-list-menu {
  overflow: hidden;
  *zoom: 1;
  font-size: 0.7rem;
  text-align: right;
  margin-top: 20px;
  opacity: 0;
}
.job-list .job-list-menu a {
  color: #09a0db;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.job-list .job-list-menu a:last-child {
  margin-right: 0;
}
.job-list .job-list-menu a:hover {
  color: #39b3e1;
}

#jobs-list-filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  width: 100%;
  margin-right: 3%;
  background: #FFF;
  box-sizing: border-box;
  opacity: 0;
  border: 1px solid #ccc;
  border-left-width: 6px;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jobs-list-filter .filter {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  padding: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
#jobs-list-filter .filter:nth-child(even) {
  margin-right: 5%;
}
#jobs-list-filter .filter:last-child {
  padding-bottom: 0;
  margin-right: 0;
  text-align: right;
}
#jobs-list-filter .filter.dn .filter-content {
  display: none;
}
#jobs-list-filter .filter:first-child {
  padding-top: 0;
}
#jobs-list-filter .filter-content {
  margin-top: 8px;
}
#jobs-list-filter .filter-title {
  cursor: pointer;
}
#jobs-list-filter .filter-title .filter-button {
  margin-top: 8px;
  font-size: 0.8rem;
}
#jobs-list-filter span.float {
  display: inline-block;
  vertical-align: middle;
}
#jobs-list-filter select {
  background-color: #FFF !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
#jobs-list-filter select:not(.lastact) {
  background-image: none;
}
#jobs-list-filter input[type="text"].float {
  display: inline-block;
  width: 70px;
  height: 37px;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 5px;
}
#jobs-list-filter input[type="button"] {
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 20px;
}
#jobs-list-filter input[type="checkbox"], #jobs-list-filter input[type="radio"] {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 2px;
  margin-left: 1px;
}
#jobs-list-filter input[type="checkbox"] + label, #jobs-list-filter input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 90%;
  font-size: 0.7rem;
}
