.bloc {
  padding-top: 20px;
}

.block {
  display: block;
}

.por {
  position: relative;
}

.fl-r {
  float: right;
  margin: 0 !important;
}

.cleafix:after{
  content: "";
  display: table;
  clear: both;
}

.bg-clear {
  background: white;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 44px;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

.container.np {
  padding-bottom: 0;
}

.top-bloc {
  padding: 20px;
  background: #023558;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-bottom: 20px !important;
  position: relative;
  z-index: 10;
}

.top-bloc:after{
  content: "";
  display: block;
  clear: both;
}

.top-bloc .container {
  padding-bottom: 0 !important
}

.top-bloc h1{
  color: white;
  float: left;
  font-size: 1.5rem;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%); /* IE 9 */
  -webkit-transform: translateY(-50%); /* Safari */
  transform: translateY(-50%);
}

.top-bloc h2 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.top-bloc .fl-l{
  float: left;
  padding-bottom: 10px;
}

.top-bloc .fl-l h1 {
  float: none;
}

.top-bloc .fl-r{
  float: right;
  color: white;
}

.top-bloc .fl-r a {
  color: white;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.sticky-nav.fixed .top-bloc .fl-r a:nth-child(3) {
  margin-right: 10px;
}

.sticky-nav.fixed .top-bloc .fl-r a:nth-child(3), .sticky-nav.fixed .top-bloc .fl-r a:nth-child(4) {
  display: inline-block;
  vertical-align: bottom;
}

.top-bloc .fl-r span {
  display: block;
  margin-bottom: 10px;
}

.top-bloc .fl-r span:last-child{
  margin-bottom: 0;
}

.top-bloc .fl-r i{
  margin-right: 5px;
}

.top-bloc.center .container h1 {
    float: none;
}

.sticky-nav, .top-bloc{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sticky-nav.fixed{
  position: fixed;
  top: 0;
  z-index: 900;
  height: 150px;
  overflow: hidden;
}

.sticky-nav.fixed:hover{
  height: auto;
}

.sticky-nav.fixed .top-bloc {
  border-radius: 3px;
  height: 100px;
}

.sticky-nav.fixed .top-bloc:hover {
  height: auto;
}

#pnlOuterWrapper {
  background: #F8F8F8 !important;
}

.bloc-design {
  background: white;
  box-shadow: 0px 0px 3px #ccc;
  padding: 42px 12px 12px 12px;
  margin-bottom: 20px;
  position: relative;
}

#resume_details_menu {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #023558;
  color: #023558;
  background: #F8F8F8;
  text-align: center;
  position: relative;
  font-size: 16px;
}

#resume_details_menu:after{
  content: "";
  display: block;
  clear: both;
}

#resume_details_menu a {
  color: #023558;
  text-decoration: none;
}

#resume_details_menu .fl-r {
  position: absolute;
  right: 0;
  bottom: 0;
}

#resume_details_menu .fl-l {
  position: absolute;
  left: 0;
  bottom: 0;
}

#resume_details_menu #page-index {
  font-weight: bold;
}

#resume_details_menu #ucResumeDetails_cbhlPrevious, #resume_details_menu #ucResumeDetails_cbhlNext {
  font-size: 0.7rem;
  margin: 0 25px;
}

#resume_details_menu #ucResumeDetails_ucAffordanceTray_cbhlResumeWordDocSave, #resume h3 #ucResumeDetails_ucAffordanceTray_cbhlResumeWordDocSave {
  margin-right: 10px;
  background: #DF691E;
  color: #FFF;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: bottom;
  text-shadow: 1px 1px 0px #ac4f14;
  text-decoration: none;
}

#resume_details_menu #ucResumeDetails_ucAffordanceTray_cbhlResumeWordDocSave i, #resume h3 #ucResumeDetails_ucAffordanceTray_cbhlResumeWordDocSave{
  color: white;
}

#resume_details_menu i {
  color: #023558;
  cursor: pointer;
}

#resume_details_menu #rdb_tools_button {
  font-size: 24px;
}

#resume_details_menu #rdb_tools {
  text-align: right;
  margin-top: 10px;
  border-top: 1px solid #023558;
  padding-top: 10px;
  display: none;
}

#resume_details_menu #rdb_tools a {
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  font-size: 11px;
  font-weight: bold;
}

#resume_details_menu #rdb_tools a:hover, #resume_details_menu #rdb_tools a:hover i{
  color: #1a75bc;
}

#resume_details_menu #rdb_tools a:last-child{
  margin-right: 0;
}

#resume_details_menu #rdb_tools a i{
  font-size: 1.3rem;
  margin-bottom: 10px;
  display: block;
}

#informations_badges {
  float: left;
  width: 225px;
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px dotted #F1F1F1;
}

.col-right {
  float: left;
  width: 749px;
}

#informations_badges .badge {
  float: left;
  box-sizing: border-box;
  padding: 15px;
  background: #09a0db;
  color: white;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 100%;
}

#informations_badges .badge span{
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#informations_badges .badge h2 {
  text-align: center;
  font-size: 0.7rem;
  color: white;
}

#informations_badges .badge i.fa {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#informations_badges .badge ul {
  margin-bottom: 10px;
  text-align: center;
}

#informations_badges .badge ul li {
  display: inline-block;
  margin-right: 10px;
  background: white;
  padding: 4px;
  border-radius: 4px;
  color: #09a0db;
  margin-bottom: 10px;
}

#informations_badges .badge.bg-clear {
  padding: 20px 0;
  background: white;
  color: #333;
}

#informations_badges .badge.big-title {
  padding-bottom: 0;
}

#informations_badges .badge.big-title i.fa {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}

#informations_badges .badge.big-title h2 {
  text-align: left;
}

#resume_details.fixed {
  margin-top: 209px;
}

#resume_details h3 {
  color: white;
  background: #023558;
  padding: 10px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

#resume_details h3 span{
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 1rem;
  color: #333;
  font-style: italic;
}

#resume_details h3 i.fa.collapse-active {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#resume_details h4 {
  margin-top: 15px;
  height: 14px;
}

#resume_details .years-xp {
  font-style: italic;
  font-size: 14px;
  display: block;
  float: right;
  margin-top: -14px;
}

#resume_details .fonction {
  height: 14px;
  margin-top: 15px;
}

#resume_details .fonction span{
  font-style: italic;
  font-size: 14px;
  display: block;
  float: right;
}

#resume_details .info-bloc {
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px dotted #F8F8F8;
  margin-bottom: 10px;
}

#resume_details .info-bloc:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#resume_details .cv-content {
    margin-top: 17px;
    padding: 30px;
    background: #F2F2F2;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

#cv-content {
  margin: 20px 0;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 1rem;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    width: 100% !important;
    padding-right: 20px;
    padding-left: 20px;
  }

  #logo_nav, .pnlOuterWrapper #JPTopNav ul, .UtilityBounds {
    width: 100% !important;
  }

  #JPTopNav ul li a {
    font-size: 10px !important;
  }

  .sticky-nav.fixed {
    position: static !important;
    height: auto !important;
  }

  .sticky-nav.fixed .top-bloc {
    height: auto;
  }

  .sticky-nav.fixed .top-bloc .fl-r a:nth-child(3), .sticky-nav.fixed .top-bloc .fl-r a:nth-child(4) {
    display: block;
    margin-right: 0;
  } 

  .top-bloc .fl-r, .top-bloc .fl-l{
    float: none;
  }

  .top-bloc h1 {
    position: static;
    -ms-transform: translateY(0); /* IE 9 */
    -webkit-transform: translateY(0); /* Safari */
    transform: translateY(0);
  }

  #resume_details_menu {
    padding: 0;
    padding-bottom: 5px;
    padding-top: 20px;
    text-align: left;
  }

  #resume_details_menu .fl-l {
    position: static;
  }

  #resume_details_menu a {
    font-size: 0.6rem;
  }
  
  #resume_details_menu #ucResumeDetails_cbhlPrevious, #resume_details_menu #ucResumeDetails_cbhlNext, #resume_details_menu #page-index {
    display: none;
  }

  #resume_details.fixed {
    margin-top: 0 !important;
  }

  #resume_details h4, #resume_details .fonction {
    height: auto;
  }

  #resume_details .years-xp, #resume_details .fonction span {
    float: none;
    margin-top: 0;
  }

  #resume {
    display: none;
  }

  #informations_badges {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .col-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}