body {
  font-family: "Lato", sans-sherif;
  background: #F1F1F1;
}

.content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.fl-l {
  float: left;
}
.fl-l.half {
  width: 47.5%;
}

.fl-r {
  float: right;
}
.fl-r.half {
  width: 47.5%;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.push {
  margin-top: 20px;
}

.on-left {
  position: absolute;
  top: 0;
  left: 15px;
}

.on-right {
  position: absolute;
  top: 0;
  right: 15px;
}

.col-left {
  width: 65% !important;
  float: left;
}

.col-right {
  width: 34% !important;
  float: right;
}

.mb {
  margin-bottom: 10px;
}

.cb_style select, #ddlSortBy {
  border: 1px solid #B4B4B4 !important;
  color: #333 !important;
  font-size: 11px !important;
  height: 30px !important;
  border-radius: 5px !important;
  margin-bottom: 0 !important;
}

#ddlSortBy {
  width: 120px;
  float: left;
  margin-right: 10px;
}

.bubbles {
  padding-top: 15px;
  overflow: hidden;
  *zoom: 1;
}

.bubble, .bubble-white {
  padding: 5px 10px;
  background: #09A0DB;
  color: white;
  float: left;
  display: block;
  margin-right: 1px;
  margin-top: 1px;
  text-align: center;
}
.bubble span, .bubble-white span {
  display: block;
}
.bubble .bubble-title, .bubble-white .bubble-title {
  display: block;
  font-variant: small-caps;
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 5px;
}
.bubble .bubble-title span, .bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title, .mini-bubble.bubble-white .bubble-title {
  display: inline-block;
  vertical-align: top;
}
.bubble.mini-bubble .bubble-title span, .mini-bubble.bubble-white .bubble-title span {
  display: none;
}

.bubble-white {
  background: #EFEFEF;
  color: #333;
}

#content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#jobs-list-header {
  background: #FFF;
  height: 60px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#jobs-list-header .on-right {
  right: 0;
}
#jobs-list-header .on-left {
  left: 0;
}
#jobs-list-header h2 {
  margin: 0 !important;
  line-height: 60px !important;
}
#jobs-list-header select {
  width: 120px;
  margin-top: 15px;
}

#jobs-list-sous-menu {
  overflow: hidden;
  *zoom: 1;
  height: 45px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
}
#jobs-list-sous-menu a {
  display: block;
  float: left;
  margin-right: 10px;
}
#jobs-list-sous-menu a.tt {
  font-size: 1rem;
  color: #023558;
  height: 31px;
  width: 31px;
  line-height: 28px;
  background: white;
  text-align: center;
  border-radius: 31px;
}
#jobs-list-sous-menu #filter-button {
  height: 27px;
  line-height: 27px;
  font-size: 1rem;
  margin-top: 1px;
}
#jobs-list-sous-menu .btn {
  color: white !important;
}

.btn {
  background: #DF691E;
  color: #FFF !important;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: bottom;
  text-shadow: 1px 1px 0px #ac4f14;
  text-decoration: none;
}

.pagination {
  height: 45px;
  line-height: 44px;
  text-align: center;
}
.pagination a, .pagination span {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  padding: 0 15px;
  background: #FFF;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid white;
}
.pagination a i, .pagination span i {
  font-style: normal;
}
.pagination a i.fa, .pagination span i.fa {
  font-size: 2.2rem;
  position: relative;
  top: 5px;
}
.pagination a.current, .pagination span.current {
  background: #09A0DB;
  color: white;
}
.pagination a.current:hover, .pagination span.current:hover {
  background: white;
}
.pagination a.current.prev, .pagination span.current.prev {
  background: #ccc;
}
.pagination a.current.prev:hover, .pagination span.current.prev:hover {
  color: white;
  border-color: white;
}
.pagination a:hover, .pagination span:hover {
  color: #09A0DB;
  border-color: #09A0DB;
}

.legend-content {
  font-size: 0.7rem;
  line-height: 40px;
}
.legend-content .legend {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.legend-content .legend:last-child {
  margin-right: 0;
}

#jobs-list-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 1px;
}

#jobs-list-push {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jobs-list-push.active #jobs-list-filter {
  margin-top: 0;
}

#jobs-list-content {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
}

.job-list {
  display: block;
  color: #333;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #FFF;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  position: relative;
  padding: 15px;
}
.job-list a {
  color: #333;
  display: block;
}
.job-list h3 {
  margin: 0 !important;
  font-size: 1.2rem;
  line-height: 1 !important;
  padding-bottom: 10px;
  color: #09A0DB;
  text-transform: uppercase;
}
.job-list .candidatesname, .job-list .city {
  display: inline-block;
  vertical-align: bottom;
}
.job-list .city {
  color: #666;
  margin-left: 10px;
}
.job-list .date {
  font-size: 0.8rem;
  color: #333;
  margin-top: 3px;
  display: none;
}
.job-list .candidatesname {
  font-weight: bold;
}
.job-list:hover {
  color: #333;
}
.job-list:hover .job-list-menu {
  opacity: 1 !important;
}
.job-list .job-list-info-container {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #F1F1F1;
  margin-top: 10px;
}
.job-list .job-list-info-container .job-list-info-content {
  padding-bottom: 5px;
}
.job-list .job-list-info-container .job-list-info-content i.fa, .job-list .job-list-info-container .job-list-info-content .job-list-info {
  display: inline-block;
  vertical-align: top;
}
.job-list .job-list-info-container .job-list-info-content i.fa {
  margin-top: 5px;
  width: 25px;
  text-align: center;
  font-size: 0.9rem;
  border-right: 1px solid #F1F1F1;
  padding-right: 5px;
  margin-right: 2px;
}
.job-list .job-list-info-container .job-list-info-content .job-list-info span {
  display: block;
}
.job-list .job-list-info-container .bloc {
  width: 33.5%;
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid #F1F1F1;
  float: left;
}
.job-list .job-list-info-container .bloc:last-child {
  border-right: 0;
}
.job-list .job-list-info-container .bloc.small {
  width: 25%;
}
.job-list.details .bubble, .job-list.details .bubble-white {
  font-size: 1.2rem;
}
.job-list.details .bubble.mini-bubble .bubble-title, .job-list.details .mini-bubble.bubble-white .bubble-title {
  display: block;
  margin-bottom: 3px;
}
.job-list.details .bubble.mini-bubble .bubble-title span, .job-list.details .mini-bubble.bubble-white .bubble-title span {
  display: inline-block;
  vertical-align: top;
}
.job-list .pdf-link-content {
  margin-top: 12px;
}
.job-list .pdf-link-content a {
  color: white !important;
  background: #09A0DB;
  text-shadow: 1px 1px 0px #007095;
}
.job-list .job-list-menu {
  font-size: 0.7rem;
  text-align: right;
  margin-top: 20px;
  opacity: 0;
}
.job-list .job-list-menu a {
  color: #09a0db;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
.job-list .job-list-menu a:last-child {
  margin-right: 0;
}
.job-list .job-list-menu a:hover {
  color: #39b3e1;
}

.form {
  margin-top: 0 !important;
}

.help-bloc {
  border: 1px solid #09a0db;
  border-radius: 5px;
  color: #09a0db;
  padding: 10px;
  margin-top: 8px;
  font-size: 0.8rem;
  display: none;
}

#jobs-list-filter, .form {
  padding: 12px;
  width: 100%;
  background: #FFF;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
  margin-top: -84px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#jobs-list-filter .filter, .form .filter {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  padding: 10px 0;
  overflow: hidden;
  *zoom: 1;
}
#jobs-list-filter .filter:nth-child(even), .form .filter:nth-child(even) {
  margin-right: 5%;
}
#jobs-list-filter .filter:last-child:not(.last), .form .filter:last-child:not(.last) {
  padding-bottom: 0;
  margin-right: 0;
  text-align: right;
}
#jobs-list-filter .filter.dn .filter-content, .form .filter.dn .filter-content {
  display: none;
}
#jobs-list-filter .filter.full, .form .filter.full {
  display: block;
  width: 100%;
  text-align: left !important;
}
#jobs-list-filter .filter:first-child, .form .filter:first-child {
  padding-top: 0;
}
#jobs-list-filter .filter-content, #jobs-list-filter .bloc-content, .form .filter-content, .form .bloc-content {
  margin-top: 8px;
  overflow: hidden;
  *zoom: 1;
}
#jobs-list-filter .filter-content a:not(.btn), #jobs-list-filter .bloc-content a:not(.btn), .form .filter-content a:not(.btn), .form .bloc-content a:not(.btn) {
  display: block;
}
#jobs-list-filter .filter-content a:not(.btn) + span, #jobs-list-filter .bloc-content a:not(.btn) + span, .form .filter-content a:not(.btn) + span, .form .bloc-content a:not(.btn) + span {
  display: block;
}
#jobs-list-filter .bloc-content, .form .bloc-content {
  padding-bottom: 20px;
}
#jobs-list-filter .filter-title, .form .filter-title {
  cursor: pointer;
}
#jobs-list-filter .filter-title .filter-button, .form .filter-title .filter-button {
  margin-top: 8px;
  font-size: 0.8rem;
}
#jobs-list-filter .filter-title.big, .form .filter-title.big {
  color: #09a0db;
  font-variant: small-caps;
  margin-top: -29px;
  margin-left: 155px;
  position: absolute;
}
#jobs-list-filter span.float, .form span.float {
  display: inline-block;
  vertical-align: middle;
}
#jobs-list-filter label, .form label {
  margin: 5px 0;
  font-size: 0.8rem;
}
#jobs-list-filter select, .form select {
  background-color: #FFF !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
#jobs-list-filter select:not(.lastact), .form select:not(.lastact) {
  background-image: none;
}
#jobs-list-filter input[type="text"], .form input[type="text"] {
  margin: 0;
}
#jobs-list-filter input[type="text"].float, .form input[type="text"].float {
  display: inline-block;
  width: 70px;
  height: 37px;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 5px;
}
#jobs-list-filter input[type="button"], .form input[type="button"] {
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 20px;
}
#jobs-list-filter input[type="checkbox"], #jobs-list-filter input[type="radio"], .form input[type="checkbox"], .form input[type="radio"] {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 2px;
  margin-left: 1px;
}
#jobs-list-filter input[type="checkbox"] + label, #jobs-list-filter input[type="radio"] + label, .form input[type="checkbox"] + label, .form input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 90%;
  font-size: 0.7rem;
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding: 0 10px;
  }

  .col-left, .col-right {
    float: none;
    width: 100% !important;
  }

  #jobs-list-header {
    height: auto;
    padding: 5px 0;
  }
  #jobs-list-header h2 {
    text-align: left;
    line-height: 1.2 !important;
  }
  #jobs-list-header .on-right {
    position: static;
    text-align: left;
  }

  .job-list .city {
    margin-left: 0;
  }

  .job-list .pdf-link-content {
    float: none;
  }
  .job-list .pdf-link-content a {
    text-align: center;
  }

  .job-list .job-list-menu {
    opacity: 1;
    text-align: left;
    margin-top: 10px;
  }

  .job-list .job-list-info-container .bloc, .job-list .job-list-info-container .bloc.small {
    width: 100% !important;
    margin-right: 0;
    padding-right: 0;
    border: none;
  }

  .pagination {
    height: auto;
    line-height: 1.2;
  }
  .pagination a, .pagination span {
    font-size: 0.8rem;
    padding: 5px;
    line-height: 1.2;
  }
  .pagination a i.text, .pagination span i.text {
    display: none;
  }
  .pagination a i.fa, .pagination span i.fa {
    font-size: 1rem;
    top: 2px;
  }

  #jobs-list-filter, #filter-button {
    display: none !important;
  }
}
