
.UtilityBounds { 
	width: 100%; 
	margin: auto; 
}
.utilUserName {
	max-width: 100%;
    overflow: auto;
    white-space: normal;    
}

#utilAcctExecSub 
{
    z-index : 10000;
    width: 300px;
}
#utilLangSub
{
    z-index : 10000;
}

#accountdsDDL
{
    z-index:10000;
}

.utilityBar li ul li {
	float: none;
	margin: 2px auto 3px 3px;
	white-space: nowrap;
	line-height: 1.2;
}


.flag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -400px;
}
.beflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 0;
}
.caflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -20px;
}
.cnflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -40px;
}
.dkflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -60px;
}
.euflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -80px;
}
.frflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -100px;
}
.deflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -120px;
}
.grflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -140px;
}
.inflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -160px;
}
.itflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -180px;
}
.myflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -200px;
}
.nlflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -220px;
}
.noflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -240px;
}
.plflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -260px;
}
.roflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -280px;
}
.sgflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -300px;
}
.spflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -320px;
}
.seflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -340px;
}
.chflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -360px;
}
.ukflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -380px;
}
.usflag
{
    width:24px;
    height:20px;
    background:url(http://img.icbdr.com/images/images/jpimages/image_cb_flag_sprite.png) 0 -400px;
}

.utilityBar #utilAcctExec li
{
    line-height:1.2;
}

.UtilityHighlight, .UtilityHighlight span span, .UtilityHighlight div span {
	color: #03153b;
	background-color: #FFFFFF;
}

.UtilityHighlight .utilAcctExec 
{
    color: #03153b;
}

.link {
	cursor: pointer;	
	font-weight: bold;
	font-size: 12px;
	color: Blue;
	text-decoration: underline;
}

.utilAcctLi div span
{
    line-height: 1.2;
}

.nolink
{
    text-decoration: none;
}

  
#utilUserName
{
    float:right;  
    height:21px; 
    line-height:21px;
    z-index : 10000;  
}

.headerLink
{
    cursor: pointer;
    cursor: hand;
}
         
.utilUserName {
	max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#utilAccount
{
    float:right;
    max-width: 240px;
}
    
.UtilityBounds .utilAcctLi
{
    list-style-type: none;
    list-style-position: inside;
    float:left;
    max-width: 400px;        
    margin:0px 0px 0px 0px;
    padding: 7px 24px 7px 24px;
}
    
.UtilityBounds    .utilAcctDiv1
{
    float: left;
    margin-right: 20px;
}

.UtilityBounds    .utilAcctDiv2
{
    float: left;
}
    
#utilAcctExec
{
    color:#FFFFFF; 
	font-size:12px; 
	font-weight:bold;
	font: arial;
	line-height: 23.6px;
}
    
#utilLang
{
    line-height:21px;
    height:21px;
}
    
#utilLangSub 
{
    font-size:14px;    
}
    
    
#utilLangSub li
{
    font-size:12px;
    margin-left: 21px;
}
    
#utilUserNameSub
{
    border-radius: 0 6px 6px 6px;
    padding: 0 12px 0 12px;
}
    
    #utilUserNameSub li a
{
    display:inline;
    width:auto;
}
    
#utilAcctExecSub
{
    width: 350px;
    max-width: 600px;
}
.utilAcctDiv1
{
    overflow:hidden;
    width: 140px;
    text-overflow: ellipsis;
}
.utilAcctDiv2
{
    overflow:hidden;
    width: 140px;
    text-overflow: ellipsis;
} 
#acctDivOut
{
    top: 5px;   
}
    
.utilityBar #utilUserNameSub li
{
    border-radius: 0 0 0 0;
    padding: 0 0 0 0;

    left: 0px;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow:hidden;
    top:-2px;        
    line-height:1.2em;     
}
   
#utilAcctExecImage
{
    margin-top:3px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  
 }

@-moz-document url-prefix() {
  
}
@media (min-width: 1320px)
{

}

@media (max-width: 1320px)
{

}


@media (max-width: 900px)
{

      
}



@media (max-width: 700px)
{
    #utilAcctExec
    {
        display:none;
    }
}
@media (max-width: 600px)
{
    #utilLang
    {
        display:none;
    }
    
    #utilUserName
    {
        float:left;
    }
}


@media (max-width: 420px)
{

    #utilUserName
    {
        float:none;
        font-size:20px;
        line-height:1.2;
        width:auto;
        text-align:left;
    }
    #utilAccount
    {
        float:none;
        font-size:14px;
        display: none;
    }
    .utilityBar li ul {
        width:94.5%;
        line-height:1.2;
    }
 
    #utilLang
    {
        display:none;
    }
    
    
    #utilUserNameSub
    {
        border-radius: 0 0 6px 6px;
        left: 0px;     
        line-height:1.2;
    }
        
    #utilAcctExecSub 
    {
        line-height:1.2;
    }
    
    .link
    {   
        left: 0px;
        font-size: 20px;
        text-overflow: ellipsis;
        overflow:hidden;
        top:-2px;
        line-height:1.2;
    }
    
}


.messagepop {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    margin-top: 95px;
    margin-left: 5px;
    position: absolute;
    text-align: left;
    width: 394px;
    z-index: 1500;
    padding: 25px 25px 20px;
}

    .messagepop.div {
        border-bottom: 1px solid #EFEFEF;
        margin: 8px 0;
        padding-bottom: 8px;
    }

    .messagepop .Title {
        font-weight: bold;
        margin: -10px 0 10px;
        padding-bottom: 8px;
        text-align: center;
    }

    .messagepop.pop {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }


    .messagepop .Close {
        color: #777;
        font: 14px/100% arial, sans-serif;
        position: absolute;
        right: 5px;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        top: 5px;
        cursor: pointer;
    }

        .messagepop .Close:after {
            content: '✖';
        }
